<!DOCTYPE html>
  <div class="container">
    <%= render "form" , form_name: params[:action].capitalize %>
  </div>

<div class="text-center">
  <div id="floating-panel">
        <input id="address" type="textbox">
        <input id="submit" type="button" value="Ubicar la direccion" class="btn btn-warning">
        <!-- div donde se dibuja el mapa-->
        <div id="map" style="left:18%;width:64%;height:300px;padding-top:10px;"></div>
  </div>
</div>
