<h1>Establishments#new</h1>
<p>Find me in app/views/establishments/new.html.erb</p>
<!DOCTYPE html>
 <div id="floating-panel">
      <input id="address" type="textbox">
      <input id="submit" type="button" value="Ubicar la direccion">
   </div>

<!-- div donde se dibuja el mapa-->
<div id="map" style="width:450px;height:300px;"></div>
